.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: 600;
    font-size: x-large;
    margin-bottom: 20px;
}

.hr {
    width: 100vw;
}

.sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    margin-right: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100vw;
}